body {
    width: 100%;
    background-color: #e6ffff;
}

.container {
    background-color: #84e1e1;
    width: 88%;
    /*height: 5400px;*/
    margin-top: 22px;
    margin-bottom: 20px;
    margin-left: 25px;
    float: left;
}

.benefits {
    background-color: #FFFFFF;
    margin-top: 40px;
    width: 94%;
    margin-left: 10px;
}

.requirements {
    background-color: #FFFFFF;
    margin-top: 0px;
    width: 94%;
    margin-left: 10px;
}

.black{
  width:100%;
  /*background-color: #666666;*/
}

@media screen and (min-width: 800px){

   .benefits {
    width: 48%;
}

   .requirements {
     width: 61%;
    float: left;
    margin-top: -516px;
    margin-left: 483px;
}

.design {
    width: 72%;
}
}
